<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="apiKey" value="88358a4371bf300638873889ae8517b0" />
        <add key="apiGetUrl" value="https://metadefender.opswat.com/?lang=en" />
        <add key="apiPostUrl" value="https://api.metadefender.com/v4/file" />
    </appSettings>
</configuration>
